@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');    /* imports the poppins font to use in your project (compared to standard insertion in meta as link) */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                        /* all numbers Poppins with default of sans-serif*/
    font-weight: normal;                                       /* set font boldness to normal */
    margin: 0;                                                 /* zero-out margin otherwise there will be a white margin on the sides of the window. */
    padding: 0;                                                 /* zero-out padding otherwise there will be a white margin on the sides of the window. */
}

header {                                                        /* For the header (i.e. "Scoll Magic Study"... */
    height: 100vh;                                              /* The header section is 100% of the viewport height*/
    display: flex;                                              /* display is set to flex (elements side by side) */
    justify-content: center;                                    /* now that display is set to flex, center the content hoizontally */       
    align-items: center;                                        /* center content veritcally (remember: stretch, center, start, end)*/
    background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149)); 
}

header > h1 {                                                   /* header h1 style*/
    font-size: 4.5em;
    color: rgb(255, 255, 255);
}